// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: rgb(255, 144, 47);
$green: #1EDD88;
$gray: #545252;
$light-gray: #9b9b9b;
$plant-green: #6BBE76;
$white: #FFFFFF;
$final-green: #224722;
$light-green: #f3faf3;
