<div class="background-image d-flex flex-column align-items-center justify-content-center">

  <div class="landing-text">

    <span class="icon"><%= image_tag "leaves-2.png" %></span>

    <h1 class="fw-bold">PlantLife</h1>
    <p>Change your life, learn to plant</p>
  </div>

  <div class="text-center open-button mt-2">
    <%= link_to root_path do %>
      <h3>Open</h3>
    <% end %>
  </div>
</div>
