#file-upload-button {
  background-color: red;
}

#photo {
  width: 75%;
}

#photo-send {
  color: white;
  font-size: 18px;
  // font-weight: bolder;
  border-radius: 16px;
  // width: 30;
}

// .photo-upload {

// }
