.nav-tabs .nav-tabs .nav-link .active .nav-link {
  background-color: $white;
  border-radius: 8px 8px 0px 0px;
  color: $plant-green;
  font-weight: 600;
  border-bottom: 2px solid  $final-green;
  border: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #545252;
  font-weight: 600;
  border-bottom: 2px solid  $final-green;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
