.to-do {
  background-color: rgb(255, 144, 47);
  padding: 4px 16px;
  border-radius: 16px;
  color: white;
}

.water {
  background-color: lightblue;
}

.water-info{
  margin-top: 8px;
  background-color: rgb(171, 171, 171);
  padding: 1px 4px;
  border-radius: 16px;
  color: white;
  width: 128px;
  text-align: center;
}
