.needs-button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #6BBE76;
  padding: 2px;
  opacity: 80%;
}

.water-button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #599CFF;
  padding: 2px;
  margin: 2px;
}
